<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>

		<typeAlias alias="resultMap" type="org.springframework.source.common.util.ResultMap"/>
		<typeAlias alias="loginVo" type="org.springframework.source.login.LoginVo"/>
		<typeAlias alias="myPageVo" type="org.springframework.source.myPage.MyPageVo"/>
		<typeAlias alias="companyVo" type="org.springframework.source.company.CompanyVo"/>
		<typeAlias alias="nomalClientVo" type="org.springframework.source.nomalClient.NomalClientVo"/>
		<typeAlias alias="companyClientVo" type="org.springframework.source.companyClient.CompanyClientVo"/>

	</typeAliases>

	<!--datasource-context.xml에 mapperLocations 설정을 해주어서 필요가 없다.-->
	<!--<mappers>-->
		<!--<mapper resource="mapper/main/main_sql.xml"/>-->
	<!--</mappers>-->
</configuration>

